/* CSS giao diện user*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    border: 1px solid black;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.hinhanh_sanpham {
    float: left;
    width: 50%;
}

.chitiet_sanpham {
    float: left;
    width: 45%;
}

input.themgiohang {
    border: none;
    background: #f2f2f2;
    padding: 12px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
}

.header {
    /* lấy ảnh trực tiếp vô */
    background-image: url("../images/header.jpg");
    /* không cho lặp lại ảnh 8*/
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #ff80ff;
    height: 180px;
    width: 100%;
}

.menu {
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}

ul.list_menu {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    width: 80%;
    line-height: 27px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

ul.list_menu li {
    margin: 5px;
    padding: 5px;
    float: none;

}

ul.list_menu li:hover {
    background: #3333ff;
}

ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: black;
}


.search-item {
    margin-left: auto;

}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

.search-form input[type="submit"] {
    padding: 5px 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.search-item:hover {
    background: transparent !important;
}

#main {
    border: 1px solid #00ff80;
    height: auto;
    width: 100%;
}

.sidebar {
    border: 1px solid #000066;
    height: auto;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

ul.list_sidebar {
    padding: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    line-height: 27px;
}

ul.list_sidebar li {
    margin: 5px;
    padding: 5px;
    text-transform: uppercase;

}

ul.list_sidebar li:hover {
    background: cadetblue;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: black;
    display: block;
}

/* responsive arrow */
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.container {
	font-family: 'Lato', sans-serif;
	width: 1000px;
	margin: 0 auto;
}

.wrapper {
	display: table-cell;
	height: 400px;
	vertical-align: middle;
}

.nav {
	margin-top: 40px;
}

.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}


.main-content {

    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

* {
    box-sizing: border-box;
}

ul.product_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 10px;
}

ul.product_list li {
    width: 19%;
    border: 1px dashed black;
    background: #f2f2f2;
    padding: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

ul.product_list li img {
    width: 100%;
}

ul.product_list li a {
    text-decoration: none;
}

p.title_product {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

ul.baiviet{
    margin: 0;
    padding: auto;
}

ul.baiviet li {
    list-style: none;
}
p.tomtat_baiviet_chitiet{
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
}
p.title_baiviet {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p.tomtat_baiviet{
    text-align: center;
    color: #545454;
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
}



.footer {
    border: 1px solid #ff1a8c;
    height: 150px;
    width: 100%;
    background: #00cc99;
}

p.footer_copyright {
    text-align: center;
    color: #000;
}

.clear {
    clear: both;
}

i.fa-solid.fa-plus {
    font-size: 20px;
    color: #000;
}

i.fa-solid.fa-minus {
    font-size: 20px;
    color: #000;
}

i.fa-solid.fa-plus:hover {
    color: red;
}

i.fa-solid.fa-minus:hover {
    font-size: 20px;
    color: red;
}

/* Tabs */
.tabs {
  width: 1000px;
  background-color: rgb(82, 84, 207);
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color: rgb(62, 64, 216);
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
.tab-content {
  padding: 10px;
  border: 5px solid rgb(82, 84, 207);
  background-color: #FFF;
}
.btn{
    font-size: 1rem;
    width: 200px;
}